[submodule "modules/helios-monado-blade"]
	path = modules/helios-monado-blade
	url = https://github.com/M0nado/helios-monado-blade.git
	branch = main

[submodule "modules/helios-security-setup"]
	path = modules/helios-security-setup
	url = https://github.com/M0nado/helios-security-setup.git
	branch = main

[submodule "modules/helios-ai-hub"]
	path = modules/helios-ai-hub
	url = https://github.com/M0nado/helios-ai-hub.git
	branch = main

[submodule "modules/helios-dev-ai-hub"]
	path = modules/helios-dev-ai-hub
	url = https://github.com/M0nado/helios-dev-ai-hub.git
	branch = main

[submodule "modules/helios-build-agents"]
	path = modules/helios-build-agents
	url = https://github.com/M0nado/helios-build-agents.git
	branch = main

[submodule "modules/helios-gui-framework"]
	path = modules/helios-gui-framework
	url = https://github.com/M0nado/helios-gui-framework.git
	branch = main

[submodule "modules/helios-software-stack"]
	path = modules/helios-software-stack
	url = https://github.com/M0nado/helios-software-stack.git
	branch = main
