catroot2/
LogFiles/
DriverStore/
Microsoft-Edge-WebView/
WindowsPowerShell/
*.dll
*.exe
*.inf
*.msc
*.xml
*.png
*.gif
*.jpg
*.bin
*.dat
*.nls
*.ax
*.scr
*.dll
*.drv
*.ocx
*.psd1
*.psm1
*.mui
*.tlb
*.wim
*.efi
*.rs
*.sep
*.prn
*.sys
*.dat
*.cmd
*.tmp
*.log
*.bak
*.old
*.bak
*.swp
*.swo
*.db
*.lnk
*.ico
*.ps1
*.sh
*.md
